{% if type == "text" %}
  {{ col }}
{% elsif type == "icon" %}
  {% case col %}
    {% when 'icon-check' %}
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M20 0.749939C9.36875 0.749939 0.75 9.36869 0.75 19.9999C0.75 30.6312 9.36875 39.2499 20 39.2499C30.6313 39.2499 39.25 30.6312 39.25 19.9999C39.25 9.36869 30.6313 0.749939 20 0.749939ZM28.344 16.7449C28.4976 16.5693 28.6146 16.3647 28.688 16.1432C28.7614 15.9217 28.7898 15.6878 28.7715 15.4552C28.7531 15.2225 28.6885 14.9959 28.5813 14.7887C28.4741 14.5814 28.3265 14.3977 28.1472 14.2483C27.9679 14.0989 27.7606 13.9869 27.5374 13.9188C27.3142 13.8507 27.0797 13.828 26.8475 13.8519C26.6154 13.8758 26.3904 13.9459 26.1858 14.058C25.9812 14.1702 25.801 14.3221 25.656 14.5049L18.131 23.5332L14.2372 19.6377C13.9072 19.3189 13.4651 19.1425 13.0063 19.1465C12.5475 19.1505 12.1085 19.3345 11.7841 19.659C11.4596 19.9835 11.2756 20.4224 11.2716 20.8812C11.2676 21.3401 11.444 21.7821 11.7628 22.1122L17.0128 27.3622C17.1847 27.534 17.3906 27.6682 17.6172 27.756C17.8439 27.8439 18.0864 27.8836 18.3292 27.8726C18.5721 27.8615 18.81 27.8 19.0277 27.692C19.2455 27.5839 19.4383 27.4317 19.594 27.2449L28.344 16.7449Z" fill="#4DACE1"/>
      </svg>
    {% when 'icon-cross' %}
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M20 0.75C9.36875 0.75 0.75 9.36875 0.75 20C0.75 30.6313 9.36875 39.25 20 39.25C30.6313 39.25 39.25 30.6313 39.25 20C39.25 9.36875 30.6313 0.75 20 0.75ZM26.4872 15.9872C26.806 15.6572 26.9824 15.2151 26.9784 14.7563C26.9744 14.2975 26.7904 13.8585 26.4659 13.5341C26.1415 13.2096 25.7025 13.0256 25.2437 13.0216C24.7849 13.0176 24.3428 13.194 24.0128 13.5128L20 17.5255L15.9872 13.5128C15.8258 13.3456 15.6327 13.2123 15.4192 13.1206C15.2057 13.0289 14.9761 12.9806 14.7437 12.9786C14.5113 12.9765 14.2809 13.0208 14.0658 13.1088C13.8508 13.1968 13.6554 13.3267 13.4911 13.4911C13.3267 13.6554 13.1968 13.8508 13.1088 14.0658C13.0208 14.2809 12.9765 14.5113 12.9786 14.7437C12.9806 14.9761 13.0289 15.2057 13.1206 15.4192C13.2123 15.6327 13.3456 15.8258 13.5128 15.9872L17.5255 20L13.5128 24.0128C13.3456 24.1742 13.2123 24.3673 13.1206 24.5808C13.0289 24.7943 12.9806 25.0239 12.9786 25.2563C12.9765 25.4887 13.0208 25.7191 13.1088 25.9342C13.1968 26.1492 13.3267 26.3446 13.4911 26.5089C13.6554 26.6733 13.8508 26.8032 14.0658 26.8912C14.2809 26.9792 14.5113 27.0235 14.7437 27.0214C14.9761 27.0194 15.2057 26.9711 15.4192 26.8794C15.6327 26.7877 15.8258 26.6544 15.9872 26.4872L20 22.4745L24.0128 26.4872C24.3428 26.806 24.7849 26.9824 25.2437 26.9784C25.7025 26.9744 26.1415 26.7904 26.4659 26.4659C26.7904 26.1415 26.9744 25.7025 26.9784 25.2437C26.9824 24.7849 26.806 24.3428 26.4872 24.0128L22.4745 20L26.4872 15.9872Z" fill="#696969"/>
      </svg>
  {% endcase %}
{% elsif type == "colors" %}
  {% assign colors_split = col | split: ',' %}
  <ul class="comparation-table__colors">
    {% for color in colors_split %}
      <li class="comparation-table__colors-item" style="background: {{ color }};"></li>
    {% endfor %}
  </ul>
{% elsif type == "image" %}
  {% case col %}
    {% when 'clutch' %}
      <img src="{{ 'Clutch_8d936fe6-c0ae-4da4-957e-3376e37af762.png' | file_url }}" loading="lazy" width="auto" height="auto" />
    {% when 'anker' %}
      <img src="{{ 'Anker_9c4bfd6d-eea4-4b86-b6d6-12691c94bdf6.png' | file_url }}" loading="lazy" width="auto" height="auto" />
    {% when 'belkin' %}
      <img src="{{ 'Belkin_322d7d0b-0090-4a59-972a-3e4b3f2ca10e.png' | file_url }}" loading="lazy" width="auto" height="auto" />
    {% when 'clutch_mobile' %}
      <img src="{{ 'Clutch_V3.png' | file_url }}" loading="lazy" width="auto" height="auto" />
    {% when 'anker_mobile' %}
      <img src="{{ 'Anker_mobile.png' | file_url }}" loading="lazy" width="auto" height="auto" />
    {% when 'belkin_mobile' %}
      <img src="{{ 'Belkin_mobi.png' | file_url }}" loading="lazy" width="auto" height="auto" />
  {% endcase %}
{% else %}
  {% case col %}
    {% when 'blank' %}
      &nbsp;
  {% endcase %}
{% endif %}