<div class="cart-drawer-item" data-line-item-key="{{ item.key }}">
    <div class="cart-drawer-item-image">
      <img
        src="{{ item.image | image_url: width: 200 }}"
        loading="lazy"
        height="auto"
        width="200"
        alt="{{ item.title }}"
      >
    </div>
    <div class="cart-drawer-item-main">
      <div class="cart-drawer-item-main-flex">
        <div class="cart-drawer-item-main-flex-left">
          <h3>
            {% unless item.final_line_price == 0 %} <a href="{{ item.url }}"> {% endunless %}
            {{ item.product.title }}
            {% unless item.final_line_price == 0 %}</a> {% endunless %}
          </h3>
          {%- unless item.variant.title contains 'Default Title' -%}
            <span>{{ item.variant.title }}</span>
          {%- endunless -%}
          {%- assign parentID = item.product.handle -%}
          {%- assign prod = all_products[parentID] -%}

          {% if prod.variants and item.final_line_price == 0 and item.product.handle != 'clutch-max-1' %}
            <select class="change-variant" id="{{ item.variant_id }}">
              {%- for variant in prod.variants -%}
                  {% if variant.available or variant.metafields.custom.hide_variant %}
                    <option value="{{ variant.id }}" {% if variant.title contains item.variant.title  %}selected{% endif %}>{{ variant.title }}</option>
                  {% endif %}
              {%- endfor -%}
            </select>
          {% endif %}

          {% unless item.final_line_price == 0 %}
            <div class="cart-drawer-quantity-selector">
              <button class="cart-drawer-quantity-selector-minus" type="button">
                {%- render 'icon-minus' -%}
              </button>
              <input type="text" readonly value="{{ item.quantity }}">
              <button class="cart-drawer-quantity-selector-plus" type="button">
                {%- render 'icon-plus' -%}
              </button>
            </div>
          {% endunless %}
        </div>
        <div class="cart-drawer-item-main-flex-right">
          <div class="remove">
            <svg fill="#000000" width="15px" height="15px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
              <path d="M896.8 159.024l-225.277.001V71.761c0-40.528-33.008-72.496-73.536-72.496H426.003c-40.528 0-73.52 31.968-73.52 72.496v87.264h-225.28c-17.665 0-32 14.336-32 32s14.335 32 32 32h44.015l74.24 739.92c3.104 34.624 32.608 61.776 67.136 61.776h398.8c34.528 0 64-27.152 67.088-61.472l74.303-740.24h44.016c17.68 0 32-14.336 32-32s-14.32-31.985-32-31.985zM416.482 71.762c0-5.232 4.271-9.505 9.52-9.505h171.984c5.248 0 9.536 4.273 9.536 9.505v87.264h-191.04zm298.288 885.44c-.16 1.777-2.256 3.536-3.376 3.536h-398.8c-1.12 0-3.232-1.744-3.425-3.84l-73.632-733.856H788.45z"/>
          </svg>
          </div>
          <span {% if item.final_line_price == 0 %}class="free-product"{% endif %}>
            {% if item.final_line_price == 0 %}
              Free
            {% else %}
              {{ item.final_line_price | money }}
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>