{%- liquid
  unless limit
    assign limit = main_menu.links.size
  endunless
  unless offset
    assign offset = 0
    endunless

    assign cant_blocks = blocks | size
-%}

<ul
  class="site-nav site-navigation small--hide">
  {%- for link in main_menu.links limit: limit offset: offset -%}
    {%- liquid
      assign has_dropdown = false
      if link.links != blank
        assign has_dropdown = true
      endif
    -%}

    <li {% if link.title == 'Shop' %}id="site-nav__openshopDesktop"{% endif %} data-index="{{ forloop.index }}" {{ link.title | handleize }}
      class="site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown{% endif %}{% unless template == 'index' %}{% if link.active %} site-nav--active{% endif %}{% endunless %}"
      {% if has_dropdown %}aria-haspopup="true"{% endif %}>
        
        {% if link.title != 'Shop' %}
          <a data-index="{{ forloop.index }}" href="{{ link.url }}" class="site-nav__link{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}">
            {{ link.title }}
          </a>
        {% else %}
          <a data-index="{{ forloop.index }}" href="{{ link.url }}" class="site-nav__link{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}">
            {{ link.title }}
          </a>
        {% endif %}

        {% if link.title == 'Shop' %}
          {% assign dropdown_Items = blocks.blocks | where: "type", "dropdown_shop" %}
          <div class="site-nav__wrapsub">
            <div class="page-width">
              <div class="site-nav__body">
                {% for block in dropdown_Items %}
                  {% assign settings = block.settings %}
                
                  {% unless settings.link == blank %}
                    {% assign image = settings.image | image_url: width: 1080, height: 1080 %}
                    <a href="{{ settings.link }}">
                      <div class="site-nav__item">
                        <img src="{{ image }}" alt="{{ settings.image.alt }}" />
                      </div>
                      <span>{{ settings.title }}</span>
                    </a>
                  {% endunless %}
                {% endfor %}
              </div>
            </div>
          </div>          
        {% endif %}

      {%- if has_dropdown -%}
        <ul class="site-nav__dropdown text-left">
          {%- for childlink in link.links -%}
            {%- liquid
              assign has_sub_dropdown = false
              if childlink.links != blank
                assign has_sub_dropdown = true
              endif
            -%}

            <li class="{% if childlink.active %}site-nav--active{% endif %}{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
              <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--second-level{% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}">
                {{ childlink.title | escape }}
                {%- if has_sub_dropdown -%}
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg>
                {%- endif -%}
              </a>
              {%- if has_sub_dropdown -%}
                <ul class="site-nav__deep-dropdown">
                  {%- for grandchildlink in childlink.links -%}
                    <li>
                      <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">
                        {{ grandchildlink.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>