{%- liquid
    assign marginTop = section.settings.margin-top
    assign marginBottom = section.settings.margin-bottom
    assign paddingTop = section.settings.padding-top
    assign paddingBottom = section.settings.padding-bottom
-%}

{% if section.settings.cta_label != blank and section.settings.cta_url != blank %}
    <div class="cta">
      <a class="cta__btn {{ section.settings.bg-btn }} btn-affiliates scrollTo" href="{{ section.settings.cta_url }}">
        {{ section.settings.cta_label }}
      </a>
    </div>
  {% endif %}
 
  <style>
    #shopify-section-{{ section.id }} {
        background-color: {{ section.settings.bg-color }};
    }
    #shopify-section-{{ section.id }}{
        margin-top: {{ marginTop }}px;
        margin-bottom: {{ marginBottom }}px;
        padding-top: {{ paddingTop }}px;
        padding-bottom: {{ paddingBottom }}px;
    }
</style>
  
  {% schema %}
  {
    "name": "CTA Affiliates",
    "class": "cta-affiliates",
    "settings": [
      {
        "id": "cta_label",
        "type": "text",
        "label": "CTA Label",
        "default": "Shop Now"
      },
      {
        "id": "cta_url",
        "type": "url",
        "label": "CTA Url"
      },
      {
        "type": "select",
        "id": "bg-btn",
        "label": "Background button",
        "options": [
            {
            "value": "bg-cta-white",
            "label": "White"
            },
            {
            "value": "bg-cta-black",
            "label": "black"
            }
        ]
    },
    {
        "type": "color",
        "id": "bg-color",
        "label": "Background color"
    },
    {
        "type": "range",
        "id": "margin-top",
        "min": 0,
        "max": 100,
        "default": 0,
        "step": 1,
        "unit": "px",
        "label": "Margin top section"
      },
      {
        "type": "range",
        "id": "margin-bottom",
        "min": 0,
        "max": 100,
        "default": 0,
        "step": 1,
        "unit": "px",
        "label": "Margin bottom section"
      },
      {
        "type": "range",
        "id": "padding-top",
        "min": 0,
        "max": 100,
        "default": 0,
        "step": 1,
        "unit": "px",
        "label": "Padding top section"
      },
      {
        "type": "range",
        "id": "padding-bottom",
        "min": 0,
        "max": 100,
        "default": 0,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom section"
      }
    ],
    "presets": [
      {
        "name": "CTA Affiliates"
      }
    ]
  }
  {% endschema %}

