{{ 'footer.min.css' | asset_url | stylesheet_tag: preload: true }}

{%- liquid
  assign show_selectors = false
  assign currency_selector = false
  assign locale_selector = false

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector = true
  endif

  if section.settings.show_locale_selector and shop.enabled_locales.size > 1
    assign locale_selector = true
  endif

  if currency_selector or locale_selector
    assign show_selectors = true
  endif
-%}

{%- if settings.color_newsletter == settings.color_body_bg -%}
  {%- style -%}
    .site-footer__section--newsletter {
      padding: 0;
    }
  {%- endstyle -%}
{%- endif -%}

<footer id="site-footer" class="site-footer text-center" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <svg class="rain" width="52" height="128" viewBox="0 0 52 128" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M18.007 35.1426L-3.3046e-06 70.2851H12.2775C19.0074 70.2851 24.7369 70.5554 24.9188 71.006C25.1916 71.3664 25.0097 73.8895 24.4641 76.5928C20.8263 96.2365 15.7334 127.504 16.0062 127.865C16.2791 128.045 16.6428 128.045 16.8247 127.865C17.4613 127.144 51.9797 58.3006 51.9797 57.6698C51.9797 57.3094 47.2911 57.6698 41.5616 57.6698C35.8321 57.6698 30.9211 57.3094 30.5573 56.7687C30.1026 56.0479 35.4683 11.1735 37.0144 2.88349C37.3782 1.35163 37.1963 0 36.8325 0C36.3778 0 27.9199 15.8592 18.007 35.1426Z" fill="#4DACE1"/>
  </svg>   
  {% if section.settings.show_newsletter %}
    <div class="site-footer__section site-footer__section--newsletter" data-aos>
      <div class="page-width">
        {%- if section.settings.newsletter_title != blank -%}
          <div class="h2 appear-delay">{{ section.settings.newsletter_title }}</div>
        {%- endif -%}

        {%- if section.settings.newsletter_richtext != blank -%}
          <div class="rte rte--block appear-delay-1">
            {{ section.settings.newsletter_richtext }}
          </div>
        {%- endif -%}

        <div class="appear-delay-2">
          {%- render 'newsletter-form', section_id: section.id, snippet_context: 'footer' -%}
        </div>
      </div>
    </div>
  {%- endif -%}

  <div class="page-width">

    {%- if show_selectors -%}
      {%- form 'localization', class: 'multi-selectors site-footer__section', data-disclosure-form: '' -%}
        {%- if locale_selector -%}
          <div class="multi-selectors__item">
            <h2 class="visually-hidden" id="LangHeading">
              {{ 'general.language.dropdown_label' | t }}
            </h2>

            <div class="disclosure" data-disclosure-locale>
              <button type="button" class="faux-select disclosure__toggle" aria-expanded="false" aria-controls="LangList" aria-describedby="LangHeading" data-disclosure-toggle>
                <span class="multi-picker__label">
                  {{ form.current_locale.endonym_name }}
                </span>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg>
              </button>
              <ul id="LangList" class="disclosure-list" data-disclosure-list>
                {%- for locale in form.available_locales -%}
                  <li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                    <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                      {{ locale.endonym_name }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
              <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input>
            </div>
          </div>
        {%- endif -%}

        {%- if currency_selector -%}
          <div class="multi-selectors__item">
            <h2 class="visually-hidden" id="CurrencyHeading">
              {{ 'general.currency.dropdown_label' | t }}
            </h2>

            <div class="disclosure" data-disclosure-currency>
              <button type="button" class="faux-select disclosure__toggle" aria-expanded="false" aria-controls="CurrencyList" aria-describedby="CurrencyHeading" data-disclosure-toggle>
                {%- if section.settings.show_currency_flags -%}
                  <span class="currency-flag currency-flag--small" data-flag="{{ form.current_currency.iso_code }}" aria-hidden="true"></span>
                {%- endif -%}
                <span class="multi-picker__label">
                  {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                </span>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg>
              </button>
              <ul id="CurrencyList" class="disclosure-list" data-disclosure-list>
                {%- for currency in form.available_currencies -%}
                  <li class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}">
                    <a class="disclosure-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                      {%- if section.settings.show_currency_flags -%}
                        <span class="currency-flag" data-flag="{{ currency.iso_code }}" aria-hidden="true"></span>
                      {%- endif -%}
                      <span class="multi-picker__label">
                        {{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
                      </span>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
              <input type="hidden" name="currency_code" value="{{ form.current_currency.iso_code }}" data-disclosure-input>
            </div>
          </div>
        {%- endif -%}
      {%- endform -%}
    {%- endif -%}


    <div class="container-footer">
      <div class="container-footer__left">
        <svg width="240" height="70" viewBox="0 0 240 70" fill="none" class="logo-footer" xmlns="http://www.w3.org/2000/svg">
          <path d="M28.6077 0.546057C14.5518 3.07177 3.09142 14.4543 0.462266 28.4636C-0.312998 32.471 -0.0770479 39.7787 0.900459 43.4494C3.63074 53.5859 10.271 61.8703 19.3383 66.4165C24.6977 69.1106 30.192 70.2556 36.4615 69.9525C46.9444 69.4474 55.8768 64.9685 62.3485 56.9536C76.2696 39.7451 70.6405 13.6797 50.8544 3.71161C44.2478 0.377677 35.9896 -0.800988 28.6077 0.546057ZM39.0569 1.35428C46.5399 2.29721 53.3487 5.59747 58.7082 10.952C63.6631 15.835 67.1013 22.3008 68.4158 29.0697C69.0226 32.1343 68.9214 38.7348 68.2136 41.934C64.5395 58.9068 48.4612 70.5924 31.3043 68.7065C19.9787 67.4605 9.69802 60.2538 4.57453 50.0163C2.5184 45.8404 0.967873 39.3073 0.967873 34.5926C0.967873 21.3579 9.79914 8.69568 22.5741 3.64426C28.1695 1.42164 33.4953 0.680761 39.0569 1.35428Z" fill="white"/>
          <path d="M31.88 24.2541L25.206 37.3878H29.7564C32.2507 37.3878 34.3743 37.4888 34.4417 37.6572C34.5428 37.7919 34.4754 38.7348 34.2732 39.7451C32.9249 47.0865 31.0373 58.7721 31.1384 58.9068C31.2395 58.9742 31.3744 58.9742 31.4418 58.9068C31.6777 58.6374 44.4527 33.1446 44.4527 32.9088C44.4527 32.7741 42.7337 32.6731 40.6101 32.6731C38.4866 32.6731 36.6664 32.5384 36.5316 32.3363C36.363 32.0669 38.3517 15.2962 38.9248 12.198C39.0596 11.6255 38.9922 11.1204 38.8573 11.1204C38.6888 11.1204 35.554 17.0474 31.88 24.2541Z" fill="white"/>
          <path d="M100.77 53.5658C97.8718 53.5658 95.3598 52.9092 93.2342 51.5961C91.1087 50.2444 89.4469 48.4292 88.2488 46.1506C87.0894 43.872 86.5098 41.3616 86.5098 38.6195C86.5098 35.8389 87.0894 33.3285 88.2488 31.0885C89.4469 28.8099 91.1087 27.014 93.2342 25.7009C95.3598 24.3492 97.8718 23.6733 100.77 23.6733C104.21 23.6733 107.128 24.5616 109.524 26.3382C111.958 28.1147 113.601 30.4127 114.451 33.232H109.756C109.099 31.5713 108.036 30.2195 106.567 29.1768C105.137 28.134 103.398 27.6126 101.35 27.6126C99.2244 27.6126 97.3694 28.1147 95.7849 29.1189C94.2004 30.123 92.983 31.4554 92.1328 33.1161C91.2826 34.7768 90.8575 36.6113 90.8575 38.6195C90.8575 40.5892 91.2826 42.4237 92.1328 44.123C92.983 45.7837 94.2004 47.1161 95.7849 48.1202C97.3694 49.1244 99.2244 49.6264 101.35 49.6264C103.398 49.6264 105.137 49.1051 106.567 48.0623C108.036 47.0195 109.099 45.6678 109.756 44.0071H114.451C113.601 46.8264 111.958 49.1244 109.524 50.9009C107.128 52.6775 104.21 53.5658 100.77 53.5658Z" fill="white"/>
          <path d="M119.839 53.1023V12.5506H124.187V53.1023H119.839Z" fill="white"/>
          <path d="M143.031 53.5658C141.06 53.5658 139.186 53.1023 137.408 52.1754C135.631 51.2099 134.181 49.8002 133.061 47.9464C131.978 46.054 131.437 43.7368 131.437 40.9947V24.1368H135.785V40.8789C135.785 43.5051 136.539 45.6292 138.046 47.2513C139.592 48.8347 141.543 49.6264 143.901 49.6264C145.524 49.6264 146.993 49.2595 148.307 48.5258C149.621 47.7533 150.664 46.7106 151.437 45.3975C152.248 44.0844 152.654 42.5589 152.654 40.8209V24.1368H157.002V53.1023H152.654V48.5837C151.611 49.974 150.335 51.152 148.828 52.1175C147.321 53.083 145.389 53.5658 143.031 53.5658Z" fill="white"/>
          <path d="M167.692 53.1023V27.9602H161.779V24.1368H167.692V13.7671H172.04V24.1368H178.706V27.9602H172.04V53.1023H167.692Z" fill="white"/>
          <path d="M195.367 53.5658C192.468 53.5658 189.956 52.9092 187.831 51.5961C185.705 50.2444 184.044 48.4292 182.845 46.1506C181.686 43.872 181.106 41.3616 181.106 38.6195C181.106 35.8389 181.686 33.3285 182.845 31.0885C184.044 28.8099 185.705 27.014 187.831 25.7009C189.956 24.3492 192.468 23.6733 195.367 23.6733C198.806 23.6733 201.724 24.5616 204.12 26.3382C206.555 28.1147 208.197 30.4127 209.048 33.232H204.352C203.695 31.5713 202.632 30.2195 201.164 29.1768C199.734 28.134 197.995 27.6126 195.947 27.6126C193.821 27.6126 191.966 28.1147 190.382 29.1189C188.797 30.123 187.58 31.4554 186.729 33.1161C185.879 34.7768 185.454 36.6113 185.454 38.6195C185.454 40.5892 185.879 42.4237 186.729 44.123C187.58 45.7837 188.797 47.1161 190.382 48.1202C191.966 49.1244 193.821 49.6264 195.947 49.6264C197.995 49.6264 199.734 49.1051 201.164 48.0623C202.632 47.0195 203.695 45.6678 204.352 44.0071H209.048C208.197 46.8264 206.555 49.1244 204.12 50.9009C201.724 52.6775 198.806 53.5658 195.367 53.5658Z" fill="white"/>
          <path d="M214.436 53.1023V12.5506H218.783V28.6554C219.827 27.2651 221.102 26.0871 222.609 25.1216C224.117 24.1561 226.049 23.6733 228.406 23.6733C230.416 23.6733 232.29 24.1561 234.029 25.1216C235.807 26.0485 237.237 27.4582 238.319 29.3506C239.44 31.2044 240 33.5023 240 36.2444V53.1023H235.652V36.3602C235.652 33.734 234.899 31.6292 233.392 30.0458C231.884 28.4237 229.933 27.6126 227.537 27.6126C225.914 27.6126 224.445 27.9795 223.131 28.7133C221.817 29.4471 220.754 30.4899 219.943 31.8416C219.17 33.1547 218.783 34.6802 218.783 36.4182V53.1023H214.436Z" fill="white"/>
        </svg>  
        {%- if section.settings.show_social_icons -%}
          <div class="site-footer__section">
            <span class="title-social">Social Media</span>
            {%- render 'social-icons', social_class: 'footer__social' -%}
          </div>
        {%- endif -%}    
      </div>
      <div class="container-footer__right">
        {%- for block in section.blocks -%}
          <ul class="no-bullets inline-list site-footer__linklist">
              <li class="title-menu">{{ block.settings.title }}</li>
            {%- for link in linklists[block.settings.menu].links -%}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {%- endfor -%}
          </ul>
        {%- endfor -%}
      </div>
    </div>

    <div class="info-mobile">
      {%- render 'social-icons', social_class: 'footer__social' -%}
      <span>hello@clutchcharger.com</span>
        <span id="accessibility-trigger-mobile">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.60535 8.62389C6.51214 8.68552 6.43724 8.79615 6.40493 8.91878C6.36489 9.07075 6.37531 9.19467 6.41473 9.29051C6.45322 9.3841 6.53127 9.48032 6.68038 9.55985C6.8602 9.65575 7.13587 9.74993 7.4782 9.85318C7.58263 9.88468 7.69331 9.91703 7.80677 9.9502C8.04753 10.0206 8.3008 10.0946 8.53342 10.1719C8.76062 10.2474 8.97067 10.3063 9.16556 10.3604C9.17706 10.3636 9.18856 10.3667 9.20004 10.3699C9.37822 10.4193 9.55197 10.4675 9.70228 10.5201C10.0005 10.6246 10.3781 10.8021 10.4655 11.2392C10.5211 11.5169 10.5001 11.8858 10.4748 12.1499C10.4614 12.2893 10.4452 12.4139 10.4324 12.5036C10.426 12.5486 10.4204 12.5851 10.4163 12.6106L10.4114 12.6406L10.4113 12.6417L10.4107 12.6468L10.4056 12.6886C10.4012 12.7252 10.3947 12.7787 10.3861 12.847C10.369 12.9836 10.3439 13.1793 10.3116 13.4167C10.247 13.891 10.1537 14.5329 10.0388 15.2014C9.89241 16.0532 9.72056 16.9549 9.58354 17.6568C9.52122 17.976 9.46601 18.2542 9.42366 18.4678L9.41136 18.5298C9.38947 18.6402 9.37175 18.7297 9.35901 18.795C9.35263 18.8278 9.34764 18.8537 9.34406 18.8729C9.3414 18.8871 9.34007 18.8947 9.33956 18.8976C9.33941 18.8984 9.33933 18.8989 9.3393 18.899C9.3392 18.9 9.33895 18.9024 9.33875 18.9065C9.33848 18.9119 9.33834 18.9192 9.3386 18.9283C9.33911 18.9467 9.34113 18.9697 9.34568 18.9959C9.35492 19.0489 9.37318 19.1067 9.40328 19.1603C9.45572 19.2537 9.55772 19.3624 9.80006 19.397C10.0274 19.4295 10.146 19.3537 10.225 19.2638C10.3214 19.1542 10.372 19.0011 10.3854 18.9074C10.3888 18.8835 10.3922 18.8593 10.3957 18.8349C10.5118 18.0221 10.6746 16.8819 10.883 15.9335C10.9898 15.4476 11.1128 14.992 11.255 14.6511C11.3254 14.4825 11.4095 14.3194 11.5135 14.1924C11.6125 14.0715 11.7823 13.9205 12.026 13.9205C12.1783 13.9205 12.2982 13.9869 12.3791 14.0527C12.4589 14.1177 12.5216 14.1983 12.5709 14.2743C12.6695 14.4263 12.7551 14.6241 12.8304 14.834C12.9828 15.2589 13.1221 15.8177 13.2413 16.3756C13.4806 17.496 13.6509 18.6722 13.6845 18.9074C13.6979 19.0011 13.7485 19.1542 13.8449 19.2638C13.9239 19.3537 14.0424 19.4295 14.2698 19.397C14.5659 19.3547 14.6597 19.2608 14.6927 19.2114C14.7314 19.1533 14.7531 19.0567 14.7305 18.8986C14.7082 18.7424 14.637 18.3841 14.5376 17.8842C14.5165 17.7784 14.4943 17.6664 14.4709 17.5485C14.3391 16.8834 14.1776 16.0539 14.031 15.2014C13.9162 14.5329 13.8228 13.891 13.7583 13.4167C13.726 13.1793 13.7008 12.9836 13.6837 12.847C13.6752 12.7787 13.6686 12.7252 13.6642 12.6886L13.6592 12.6468L13.6586 12.6417L13.6584 12.6406L13.6536 12.6106C13.6495 12.5851 13.6439 12.5486 13.6374 12.5036C13.6246 12.4139 13.6084 12.2893 13.5951 12.1499C13.5698 11.8858 13.5488 11.5169 13.6043 11.2392C13.6917 10.8021 14.0694 10.6246 14.3676 10.5201C14.5179 10.4675 14.6916 10.4193 14.8698 10.3699C14.8813 10.3667 14.8928 10.3636 14.9043 10.3604C15.0992 10.3063 15.3092 10.2474 15.5364 10.1719C15.7691 10.0946 16.0223 10.0206 16.2631 9.9502C16.3766 9.91703 16.4872 9.88468 16.5917 9.85318C16.934 9.74993 17.2097 9.65575 17.3895 9.55985C17.5386 9.48032 17.6166 9.3841 17.6551 9.29051C17.6945 9.19467 17.705 9.07075 17.6649 8.91878C17.6326 8.79615 17.5577 8.68552 17.4645 8.62389C17.3847 8.57112 17.267 8.53658 17.0845 8.60045C15.5197 9.14816 13.6887 9.54792 12.0061 9.54867C10.3437 9.54942 8.52478 9.13926 6.98531 8.60045C6.80285 8.53658 6.68517 8.57112 6.60535 8.62389ZM14.407 12.5238L14.4087 12.5339L14.4099 12.5441L14.4115 12.5575L14.4163 12.5978C14.4206 12.6334 14.427 12.6858 14.4354 12.7529C14.4522 12.8872 14.477 13.0802 14.5089 13.3145C14.5727 13.7833 14.6648 14.416 14.7777 15.073C14.9225 15.9158 15.0826 16.7376 15.214 17.4013C15.2364 17.5141 15.2581 17.623 15.2787 17.727C15.3779 18.2257 15.4549 18.6128 15.4805 18.7915C15.5158 19.0386 15.5085 19.3538 15.3228 19.632C15.1312 19.9189 14.8051 20.0858 14.3769 20.147C13.8801 20.218 13.5124 20.0331 13.2759 19.764C13.0567 19.5146 12.9625 19.2104 12.9345 19.0145C12.9013 18.782 12.734 17.6274 12.5004 16.5339C12.3831 15.9848 12.2521 15.4658 12.1173 15.0898C12.0789 14.9828 12.0425 14.8938 12.0088 14.8223C11.9916 14.857 11.9733 14.897 11.9542 14.9428C11.8387 15.2196 11.7272 15.6217 11.6229 16.0962C11.4207 17.0163 11.2613 18.1327 11.1443 18.9519L11.1353 19.0145C11.1074 19.2104 11.0131 19.5146 10.794 19.764C10.5574 20.0331 10.1897 20.218 9.69292 20.147C9.21107 20.0782 8.90754 19.8248 8.74271 19.5312C8.59015 19.2595 8.56408 18.9686 8.58939 18.7915C8.59514 18.7512 8.63334 18.5585 8.69044 18.2705C8.73202 18.0607 8.78362 17.8003 8.84 17.5116C8.97663 16.8118 9.14722 15.9165 9.29218 15.073C9.40511 14.416 9.49712 13.7833 9.56094 13.3145C9.59282 13.0802 9.61763 12.8872 9.63443 12.7529C9.64284 12.6858 9.64924 12.6334 9.65353 12.5978L9.65836 12.5575L9.65985 12.5449L9.66113 12.5339L9.66287 12.5238L9.66311 12.5224L9.66411 12.5165L9.66814 12.4916C9.67165 12.4695 9.67666 12.437 9.68246 12.3964C9.69409 12.3151 9.70869 12.2025 9.72067 12.0776C9.74603 11.813 9.75404 11.5446 9.72267 11.3878C9.72259 11.3874 9.72251 11.3869 9.72243 11.3865C9.72085 11.3783 9.7192 11.3698 9.69356 11.3496C9.65559 11.3196 9.58431 11.2815 9.45177 11.2351C9.32613 11.1911 9.17528 11.1492 8.98592 11.0967C8.97836 11.0946 8.97073 11.0925 8.96303 11.0904C8.76758 11.0361 8.54144 10.9729 8.29455 10.8908C8.07473 10.8178 7.84539 10.7508 7.61246 10.6827C7.49544 10.6486 7.37752 10.6141 7.25944 10.5785C6.92259 10.4769 6.57856 10.3641 6.32387 10.2283C6.03847 10.0761 5.8274 9.85417 5.7141 9.57867C5.60171 9.30542 5.59765 9.00931 5.67236 8.72577C5.74449 8.45201 5.91581 8.17158 6.18756 7.99193C6.47269 7.80343 6.83869 7.74649 7.23558 7.8854C8.72374 8.40626 10.4549 8.79179 12.0058 8.7911C13.5803 8.79039 15.3247 8.41374 16.8343 7.8854C17.2312 7.74649 17.5972 7.80343 17.8823 7.99193C18.154 8.17159 18.3254 8.45201 18.3975 8.72577C18.4722 9.00931 18.4681 9.30542 18.3558 9.57867C18.2425 9.85417 18.0314 10.0761 17.746 10.2283C17.4913 10.3641 17.1473 10.4769 16.8104 10.5785C16.6923 10.6141 16.5744 10.6486 16.4574 10.6827C16.2245 10.7508 15.9951 10.8178 15.7753 10.8908C15.5284 10.9729 15.3023 11.0361 15.1068 11.0904L15.0839 11.0967C14.8946 11.1492 14.7437 11.1911 14.6181 11.2351C14.4855 11.2815 14.4143 11.3196 14.3763 11.3496C14.3507 11.3698 14.349 11.3783 14.3474 11.3865C14.3474 11.3869 14.3473 11.3874 14.3472 11.3878C14.3158 11.5446 14.3238 11.813 14.3492 12.0776C14.3612 12.2025 14.3758 12.3151 14.3874 12.3964C14.3932 12.437 14.3982 12.4695 14.4017 12.4916L14.4058 12.5165L14.4068 12.5224L14.407 12.5238Z" fill="#B6B6B6"/>
            <circle cx="12.0261" cy="6.73805" r="1.35927" stroke="#B6B6B6" stroke-width="0.757577"/>
            <rect x="0.5" y="0.5" width="23" height="23" rx="11.5" stroke="#B6B6B6"/>
          </svg>              
          Accessibility View
        </span>
    </div>

    {%- if linklists[section.settings.menu].links.size > 0 -%}
      <div class="site-footer__section">
        <ul class="no-bullets inline-list site-footer__linklist">
          {%- for link in linklists[section.settings.menu].links -%}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
    


    {%- if section.settings.show_payment_icons -%}
      {%- unless shop.enabled_payment_types == empty -%}
        <div class="site-footer__section">
          <ul class="inline-list payment-icons">
            {%- for type in shop.enabled_payment_types -%}
              <li class="icon--payment">
                {{ type | payment_type_svg_tag }}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endunless -%}
    {%- endif -%}


    <div class="site-footer__section site-footer__copyright">
      {%- if section.settings.show_copyright -%}
        <span>
          &copy; {{ 'now' | date: '%Y' }} {{ shop.name }}
          {%- if section.settings.copyright_text != blank -%}
            {{ section.settings.copyright_text }}
          {%- endif -%}
        </span>


        <div class="group">
          <span id="accessibility-trigger">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.60535 8.62389C6.51214 8.68552 6.43724 8.79615 6.40493 8.91878C6.36489 9.07075 6.37531 9.19467 6.41473 9.29051C6.45322 9.3841 6.53127 9.48032 6.68038 9.55985C6.8602 9.65575 7.13587 9.74993 7.4782 9.85318C7.58263 9.88468 7.69331 9.91703 7.80677 9.9502C8.04753 10.0206 8.3008 10.0946 8.53342 10.1719C8.76062 10.2474 8.97067 10.3063 9.16556 10.3604C9.17706 10.3636 9.18856 10.3667 9.20004 10.3699C9.37822 10.4193 9.55197 10.4675 9.70228 10.5201C10.0005 10.6246 10.3781 10.8021 10.4655 11.2392C10.5211 11.5169 10.5001 11.8858 10.4748 12.1499C10.4614 12.2893 10.4452 12.4139 10.4324 12.5036C10.426 12.5486 10.4204 12.5851 10.4163 12.6106L10.4114 12.6406L10.4113 12.6417L10.4107 12.6468L10.4056 12.6886C10.4012 12.7252 10.3947 12.7787 10.3861 12.847C10.369 12.9836 10.3439 13.1793 10.3116 13.4167C10.247 13.891 10.1537 14.5329 10.0388 15.2014C9.89241 16.0532 9.72056 16.9549 9.58354 17.6568C9.52122 17.976 9.46601 18.2542 9.42366 18.4678L9.41136 18.5298C9.38947 18.6402 9.37175 18.7297 9.35901 18.795C9.35263 18.8278 9.34764 18.8537 9.34406 18.8729C9.3414 18.8871 9.34007 18.8947 9.33956 18.8976C9.33941 18.8984 9.33933 18.8989 9.3393 18.899C9.3392 18.9 9.33895 18.9024 9.33875 18.9065C9.33848 18.9119 9.33834 18.9192 9.3386 18.9283C9.33911 18.9467 9.34113 18.9697 9.34568 18.9959C9.35492 19.0489 9.37318 19.1067 9.40328 19.1603C9.45572 19.2537 9.55772 19.3624 9.80006 19.397C10.0274 19.4295 10.146 19.3537 10.225 19.2638C10.3214 19.1542 10.372 19.0011 10.3854 18.9074C10.3888 18.8835 10.3922 18.8593 10.3957 18.8349C10.5118 18.0221 10.6746 16.8819 10.883 15.9335C10.9898 15.4476 11.1128 14.992 11.255 14.6511C11.3254 14.4825 11.4095 14.3194 11.5135 14.1924C11.6125 14.0715 11.7823 13.9205 12.026 13.9205C12.1783 13.9205 12.2982 13.9869 12.3791 14.0527C12.4589 14.1177 12.5216 14.1983 12.5709 14.2743C12.6695 14.4263 12.7551 14.6241 12.8304 14.834C12.9828 15.2589 13.1221 15.8177 13.2413 16.3756C13.4806 17.496 13.6509 18.6722 13.6845 18.9074C13.6979 19.0011 13.7485 19.1542 13.8449 19.2638C13.9239 19.3537 14.0424 19.4295 14.2698 19.397C14.5659 19.3547 14.6597 19.2608 14.6927 19.2114C14.7314 19.1533 14.7531 19.0567 14.7305 18.8986C14.7082 18.7424 14.637 18.3841 14.5376 17.8842C14.5165 17.7784 14.4943 17.6664 14.4709 17.5485C14.3391 16.8834 14.1776 16.0539 14.031 15.2014C13.9162 14.5329 13.8228 13.891 13.7583 13.4167C13.726 13.1793 13.7008 12.9836 13.6837 12.847C13.6752 12.7787 13.6686 12.7252 13.6642 12.6886L13.6592 12.6468L13.6586 12.6417L13.6584 12.6406L13.6536 12.6106C13.6495 12.5851 13.6439 12.5486 13.6374 12.5036C13.6246 12.4139 13.6084 12.2893 13.5951 12.1499C13.5698 11.8858 13.5488 11.5169 13.6043 11.2392C13.6917 10.8021 14.0694 10.6246 14.3676 10.5201C14.5179 10.4675 14.6916 10.4193 14.8698 10.3699C14.8813 10.3667 14.8928 10.3636 14.9043 10.3604C15.0992 10.3063 15.3092 10.2474 15.5364 10.1719C15.7691 10.0946 16.0223 10.0206 16.2631 9.9502C16.3766 9.91703 16.4872 9.88468 16.5917 9.85318C16.934 9.74993 17.2097 9.65575 17.3895 9.55985C17.5386 9.48032 17.6166 9.3841 17.6551 9.29051C17.6945 9.19467 17.705 9.07075 17.6649 8.91878C17.6326 8.79615 17.5577 8.68552 17.4645 8.62389C17.3847 8.57112 17.267 8.53658 17.0845 8.60045C15.5197 9.14816 13.6887 9.54792 12.0061 9.54867C10.3437 9.54942 8.52478 9.13926 6.98531 8.60045C6.80285 8.53658 6.68517 8.57112 6.60535 8.62389ZM14.407 12.5238L14.4087 12.5339L14.4099 12.5441L14.4115 12.5575L14.4163 12.5978C14.4206 12.6334 14.427 12.6858 14.4354 12.7529C14.4522 12.8872 14.477 13.0802 14.5089 13.3145C14.5727 13.7833 14.6648 14.416 14.7777 15.073C14.9225 15.9158 15.0826 16.7376 15.214 17.4013C15.2364 17.5141 15.2581 17.623 15.2787 17.727C15.3779 18.2257 15.4549 18.6128 15.4805 18.7915C15.5158 19.0386 15.5085 19.3538 15.3228 19.632C15.1312 19.9189 14.8051 20.0858 14.3769 20.147C13.8801 20.218 13.5124 20.0331 13.2759 19.764C13.0567 19.5146 12.9625 19.2104 12.9345 19.0145C12.9013 18.782 12.734 17.6274 12.5004 16.5339C12.3831 15.9848 12.2521 15.4658 12.1173 15.0898C12.0789 14.9828 12.0425 14.8938 12.0088 14.8223C11.9916 14.857 11.9733 14.897 11.9542 14.9428C11.8387 15.2196 11.7272 15.6217 11.6229 16.0962C11.4207 17.0163 11.2613 18.1327 11.1443 18.9519L11.1353 19.0145C11.1074 19.2104 11.0131 19.5146 10.794 19.764C10.5574 20.0331 10.1897 20.218 9.69292 20.147C9.21107 20.0782 8.90754 19.8248 8.74271 19.5312C8.59015 19.2595 8.56408 18.9686 8.58939 18.7915C8.59514 18.7512 8.63334 18.5585 8.69044 18.2705C8.73202 18.0607 8.78362 17.8003 8.84 17.5116C8.97663 16.8118 9.14722 15.9165 9.29218 15.073C9.40511 14.416 9.49712 13.7833 9.56094 13.3145C9.59282 13.0802 9.61763 12.8872 9.63443 12.7529C9.64284 12.6858 9.64924 12.6334 9.65353 12.5978L9.65836 12.5575L9.65985 12.5449L9.66113 12.5339L9.66287 12.5238L9.66311 12.5224L9.66411 12.5165L9.66814 12.4916C9.67165 12.4695 9.67666 12.437 9.68246 12.3964C9.69409 12.3151 9.70869 12.2025 9.72067 12.0776C9.74603 11.813 9.75404 11.5446 9.72267 11.3878C9.72259 11.3874 9.72251 11.3869 9.72243 11.3865C9.72085 11.3783 9.7192 11.3698 9.69356 11.3496C9.65559 11.3196 9.58431 11.2815 9.45177 11.2351C9.32613 11.1911 9.17528 11.1492 8.98592 11.0967C8.97836 11.0946 8.97073 11.0925 8.96303 11.0904C8.76758 11.0361 8.54144 10.9729 8.29455 10.8908C8.07473 10.8178 7.84539 10.7508 7.61246 10.6827C7.49544 10.6486 7.37752 10.6141 7.25944 10.5785C6.92259 10.4769 6.57856 10.3641 6.32387 10.2283C6.03847 10.0761 5.8274 9.85417 5.7141 9.57867C5.60171 9.30542 5.59765 9.00931 5.67236 8.72577C5.74449 8.45201 5.91581 8.17158 6.18756 7.99193C6.47269 7.80343 6.83869 7.74649 7.23558 7.8854C8.72374 8.40626 10.4549 8.79179 12.0058 8.7911C13.5803 8.79039 15.3247 8.41374 16.8343 7.8854C17.2312 7.74649 17.5972 7.80343 17.8823 7.99193C18.154 8.17159 18.3254 8.45201 18.3975 8.72577C18.4722 9.00931 18.4681 9.30542 18.3558 9.57867C18.2425 9.85417 18.0314 10.0761 17.746 10.2283C17.4913 10.3641 17.1473 10.4769 16.8104 10.5785C16.6923 10.6141 16.5744 10.6486 16.4574 10.6827C16.2245 10.7508 15.9951 10.8178 15.7753 10.8908C15.5284 10.9729 15.3023 11.0361 15.1068 11.0904L15.0839 11.0967C14.8946 11.1492 14.7437 11.1911 14.6181 11.2351C14.4855 11.2815 14.4143 11.3196 14.3763 11.3496C14.3507 11.3698 14.349 11.3783 14.3474 11.3865C14.3474 11.3869 14.3473 11.3874 14.3472 11.3878C14.3158 11.5446 14.3238 11.813 14.3492 12.0776C14.3612 12.2025 14.3758 12.3151 14.3874 12.3964C14.3932 12.437 14.3982 12.4695 14.4017 12.4916L14.4058 12.5165L14.4068 12.5224L14.407 12.5238Z" fill="#B6B6B6"/>
              <circle cx="12.0261" cy="6.73805" r="1.35927" stroke="#B6B6B6" stroke-width="0.757577"/>
              <rect x="0.5" y="0.5" width="23" height="23" rx="11.5" stroke="#B6B6B6"/>
            </svg>              
            Accessibility View
          </span>
          <p>
            <a href="mailto:hello@clutchcharger.com" title="Email">hello@clutchcharger.com</a>
          </p>  
        </div>


<!--       <p>
      10761 Sea Cliff Circle<br>
      Boca Raton, FL 33498
      </p> -->
      {%- endif -%}
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Show newsletter signup",
        "info": "Customers who subscribe will have their email address added to the 'accepts marketing' [customer list](/admin/customers?query=&accepts_marketing=1).",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_title",
        "label": "Newsletter heading",
        "default": "Sign up and save"
      },
      {
        "type": "richtext",
        "id": "newsletter_richtext",
        "label": "Text",
        "default": "<p>Let customers know about the key benefits of joining your newsletter.</p>"
      },
      {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency selector",
        "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_currency_flags",
        "label": "Show currency flags",
        "default": true
      },
      {
        "type": "header",
        "content": "Additional footer content"
      },
      {
        "type": "checkbox",
        "id": "show_social_icons",
        "label": "Show social icons",
        "default": true
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Choose a menu",
        "default": "footer",
        "info": "Optional. This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons"
      },
      {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "Show copyright"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Additional copyright text"
      }
    ],
    "blocks": [
            {
                "type": "navigation",
                "name": "Menu footer",
                "settings": [
                  {
                    "type": "text",
                    "id": "title",
                    "label": "Title menu"
                  },
                  {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Choose a menu"
                  }
                ]
            }
    ]
  }
{% endschema %}
