{%- if section.settings.main_heading_text != blank or section.settings.main_infos_text != blank or section.settings.main_button_link != blank or section.settings.star_icon_image != blank or section.settings.star_icon_texts != blank or section.settings.bottom_icon_image_1 != blank or section.settings.bottom_icon_texts_1 != blank or section.settings.bottom_icon_image_2 != blank or section.settings.bottom_icon_texts_2 != blank or section.settings.main_video_url != blank or section.settings.main_desktop_image != blank or section.settings.main_mobile_image != blank -%}
  <div class="Page_top_texts_with_image_main_new {{ section.settings.customClass }}" style="background: {{ section.settings.main_back_color }};">
    <div class="page-width">
      <div class="Page_top_texts_with_image_inner_new">
        <div class="Page_top_texts_with_image_leftrightboth_new">
          {%- if section.settings.main_heading_text != blank or section.settings.main_infos_text != blank or section.settings.main_button_link != blank or section.settings.star_icon_image != blank or section.settings.star_icon_texts != blank or section.settings.bottom_icon_image_1 != blank or section.settings.bottom_icon_texts_1 != blank or section.settings.bottom_icon_image_2 != blank or section.settings.bottom_icon_texts_2 != blank -%}
            <div class="Page_top_texts_with_image_mainleft_new">
              <div class="Page_top_texts_with_image_innerleft_new">
                {%- if section.settings.main_heading_text != blank -%}
                  <div class="common_title_new Page_top_texts_with_image_innerleft_title_new">
                    <h2>{{ section.settings.main_heading_text }}</h2>
                  </div>
                {%- endif -%}
                {%- if section.settings.main_infos_text != blank -%}
                  <div class="Page_top_texts_with_image_innerleft_infos_new">
                    {{ section.settings.main_infos_text }}
                  </div>
                {%- endif -%}
                {%- if section.settings.main_button_text != blank and section.settings.main_button_link != blank -%}
                  <div class="Page_top_texts_with_image_innerleft_button_new">
                    <a href="{{ section.settings.main_button_link }}" class="btn btn_new">
                      {{ section.settings.main_button_text }}
                    </a>
                  </div>
                {%- endif -%}
                {%- if section.settings.star_icon_image != blank or section.settings.star_icon_texts != blank -%}
                  <div class="Page_top_texts_with_image_innerleft_toppart_new">
                    {%- if section.settings.star_icon_image != blank -%}
                      <div class="Page_top_texts_with_image_innerleft_toppart_image_new">
                        {%- assign img_url = section.settings.star_icon_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img class="star_image_new lazyload"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                          data-aspectratio="{{ section.settings.star_icon_image.aspect_ratio }}"
                          data-sizes="auto"
                          alt="{{ section.settings.star_icon_image.alt }}">
                      </div>
                    {%- endif -%}
                    {%- if section.settings.star_icon_texts != blank -%}
                      <div class="Page_top_texts_with_image_innerleft_toppart_title_new">
                        {{ section.settings.star_icon_texts }}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
                {%- if section.settings.bottom_icon_image_1 != blank or section.settings.bottom_icon_texts_1 != blank or section.settings.bottom_icon_image_2 != blank or section.settings.bottom_icon_texts_2 != blank -%}
                  <div class="Page_top_texts_with_image_innerleft_bottompart_new">
                    {%- if section.settings.bottom_icon_image_1 != blank or section.settings.bottom_icon_texts_1 != blank -%}
                      <div class="Page_top_texts_with_image_innerleft_bottompart_boxs_new">
                        {%- if section.settings.bottom_icon_image_1 != blank -%}
                          <div class="Page_top_texts_with_image_innerleft_bottompart_boxs_image_new">
                            {%- assign img_url = section.settings.bottom_icon_image_1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            <img class="Icon_full_image_new lazyload"
                              data-src="{{ img_url }}"
                              data-widths="[180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                              data-aspectratio="{{ section.settings.bottom_icon_image_1.aspect_ratio }}"
                              data-sizes="auto"
                              alt="{{ section.settings.bottom_icon_image_1.alt }}">
                          </div>
                        {%- endif -%}
                        {%- if section.settings.bottom_icon_texts_1 != blank -%}
                          <div class="Page_top_texts_with_image_innerleft_bottompart_boxs_title_new">
                            {{ section.settings.bottom_icon_texts_1 }}
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                    {%- if section.settings.bottom_icon_image_2 != blank or section.settings.bottom_icon_texts_2 != blank -%}
                      <div class="Page_top_texts_with_image_innerleft_bottompart_boxs_new">
                        {%- if section.settings.bottom_icon_image_2 != blank -%}
                          <div class="Page_top_texts_with_image_innerleft_bottompart_boxs_image_new">
                            {%- assign img_url = section.settings.bottom_icon_image_2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            <img class="Icon_full_image_new lazyload"
                              data-src="{{ img_url }}"
                              data-widths="[180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                              data-aspectratio="{{ section.settings.bottom_icon_image_2.aspect_ratio }}"
                              data-sizes="auto"
                              alt="{{ section.settings.bottom_icon_image_2.alt }}">
                          </div>
                        {%- endif -%}
                        {%- if section.settings.bottom_icon_texts_2 != blank -%}
                          <div class="Page_top_texts_with_image_innerleft_bottompart_boxs_title_new">
                            {{ section.settings.bottom_icon_texts_2 }}
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
          {%- if section.settings.main_video_url != blank or section.settings.main_desktop_image != blank or section.settings.main_mobile_image != blank -%}
            <div class="Page_top_texts_with_image_mainright_new">
              <div class="Page_top_texts_with_image_innerright_new">
                <div class="Page_top_texts_with_image_innerright_videoimageboth_new">
                  {% if section.settings.image_link != blank %}
                    <a href="{{ section.settings.image_link }}" class="Page_top_texts_with_image_innerright_videoimageboth_link_new"></a>
                  {% endif %}
                  {%- if section.settings.main_video_url != blank -%}
                    <div class="Page_top_texts_with_image_innerright_videoimage_new">
                      {{ section.settings.main_video_url | video_tag: controls: false, autoplay: true, loop: true }}
                    </div>
                  {% else %}  
                    {%- if section.settings.main_desktop_image != blank and section.settings.main_mobile_image != blank -%}
                      <div class="Page_top_texts_with_image_innerright_videoimage_new">
                        {%- if section.settings.main_desktop_image != blank -%}
                          {%- assign img_url = section.settings.main_desktop_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                          <img class="desktop_image_new lazyload"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                            data-aspectratio="{{ section.settings.main_desktop_image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ section.settings.main_desktop_image.alt }}">
                        {%- endif -%}
                        {%- if section.settings.main_mobile_image != blank -%}
                          {%- assign img_url = section.settings.main_mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                          <img class="mobile_image_new lazyload"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                            data-aspectratio="{{ section.settings.main_mobile_image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ section.settings.main_mobile_image.alt }}">
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}  

{% schema %}
  {
    "name": "Page Top Texts With Image",
    "class": "Page_top_texts_with_image_new",
    "settings": [
      {
        "type": "text",
        "id": "customClass",
        "label": "Add Custom Class",
        "info": "Page_bfcm_top_texts_with_image_new, Page_travel_top_texts_with_image_new"
      },
      {
        "type": "color",
        "id": "main_back_color",
        "label": "Add Main Background Color",
        "default": "#222222"
      },
      {
        "type": "textarea",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "Never worry about running out of phone battery again"
      },
      {
        "type": "richtext",
        "id": "main_infos_text",
        "label": "Add Main Information Text",
        "default": "<p>Ensure safety for yourself and loved ones with the Clutch Pro: our portable, magnetic, lightweight charger.</p>"
      },
      {
        "type": "text",
        "id": "main_button_text",
        "label": "Add Main Button Text",
        "default": "Shop Now"
      },
      {
        "type": "text",
        "id": "main_button_link",
        "label": "Add Main Button Link",
        "default": "#shop"
      },
      {
        "type": "image_picker",
        "id": "star_icon_image",
        "label": "Add Star Icon Image"
      },
      {
        "type": "text",
        "id": "star_icon_texts",
        "label": "Add Star Icon Texts",
        "default": "4,000+ 5 star reviews  •  Free Shipping"
      },
      {
        "type": "image_picker",
        "id": "bottom_icon_image_1",
        "label": "Add Bottom Icon Image-1"
      },
      {
        "type": "text",
        "id": "bottom_icon_texts_1",
        "label": "Add Bottom Icon Texts-1",
        "default": "Apple and"
      },
      {
        "type": "image_picker",
        "id": "bottom_icon_image_2",
        "label": "Add Bottom Icon Image-2"
      },
      {
        "type": "text",
        "id": "bottom_icon_texts_2",
        "label": "Add Bottom Icon Texts-2",
        "default": "Android Compatible"
      },
      {
        "type": "video",
        "id": "main_video_url",
        "label": "Add Main MP4 Video"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_image",
        "label": "Add Main Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_image",
        "label": "Add Main Mobile Image"
      },
      {
        "type": "url",
        "id": "image_link",
        "label": "Add Image Link"
      }
    ],
    "presets": [
      {
        "name": "Page Top Texts With Image"
      }
    ]
  }
{% endschema %}