{%- if section.blocks.size > 0 or section.settings.main_logo_image != blank or section.settings.main_heading_text != blank -%}
  <div class="Page_reasons_charge_lists_main_new" style="background: {{ section.settings.main_back_color }};">
    <div class="page-width">
      <div class="Page_reasons_charge_lists_inner_new">
        {%- if section.settings.main_logo_image != blank -%}
          <div class="Page_videos_images_slider_mainimage_new">
            <div class="Page_videos_images_slider_innerimage_new">
              {%- assign img_url = section.settings.main_logo_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="Icon_image_new lazyload"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                data-aspectratio="{{ section.settings.main_logo_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ section.settings.main_logo_image.alt }}">
            </div>
          </div>
        {%- endif -%}
        {%- if section.settings.main_heading_text != blank -%}
          <div class="common_title_new Page_reasons_charge_lists_title_new">
            <h2>{{ section.settings.main_heading_text }}</h2>
          </div>
        {%- endif -%}
        {%- if section.blocks.size > 0 -%}
          <div class="Page_reasons_charge_lists_maindeskloop_new">
            <div class="Page_reasons_charge_lists_innerdeskloop_new">
              {%- for block in section.blocks -%}
                {%- if block.settings.main_video_url != blank or block.settings.main_desktop_image != blank or block.settings.main_mobile_image != blank or block.settings.title != blank or block.settings.infos != blank -%}
                  <div class="Page_reasons_charge_lists_innerdeskloop_mainbox_new">
                    <div class="Page_reasons_charge_lists_innerdeskloop_innerbox_new">
                      {%- if block.settings.main_video_url != blank or block.settings.main_desktop_image != blank or block.settings.main_mobile_image != blank -%}
                        <div class="Page_reasons_charge_lists_innerdeskloop_innerbox_1_new">
                          <div class="Page_reasons_charge_lists_innerdeskloop_innerbox_1_videoimageboth_new">
                            {%- if block.settings.main_video_url != blank -%}
                              <div class="Page_reasons_charge_lists_innerdeskloop_innerbox_1_videoimage_new">
                                {{ block.settings.main_video_url | video_tag: controls: false, autoplay: true, loop: true }}
                              </div>
                            {% else %}  
                              {%- if block.settings.main_desktop_image != blank and block.settings.main_mobile_image != blank -%}
                                <div class="Page_reasons_charge_lists_innerdeskloop_innerbox_1_videoimage_new">
                                  {%- if block.settings.main_desktop_image != blank -%}
                                    {%- assign img_url = block.settings.main_desktop_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                    <img class="desktop_image_new lazyload"
                                      data-src="{{ img_url }}"
                                      data-widths="[180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                                      data-aspectratio="{{ block.settings.main_desktop_image.aspect_ratio }}"
                                      data-sizes="auto"
                                      alt="{{ block.settings.main_desktop_image.alt }}">
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                            {%- endif -%}
                          </div>
                        </div>
                      {%- endif -%}
                      {%- if block.settings.title != blank or block.settings.infos != blank -%}
                        <div class="Page_reasons_charge_lists_innerdeskloop_innerbox_2_new">
                          <div class="Page_reasons_charge_lists_innerdeskloop_innerbox_2_titleinfosboth_new">
                            {%- if block.settings.title != blank -%}
                              <div class="Page_reasons_charge_lists_innerdeskloop_innerbox_2_title_new">
                                {{ block.settings.title }}
                              </div>
                            {%- endif -%}
                            {%- if block.settings.infos != blank -%}
                              <div class="Page_reasons_charge_lists_innerdeskloop_innerbox_2_infos_new">
                                {{ block.settings.infos }}
                              </div>
                            {%- endif -%}
                          </div>
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
        {%- if section.blocks.size > 0 -%}
          <div class="Page_reasons_charge_lists_mainmobloop_new">
            <div class="Page_reasons_charge_lists_innermobloop_new">
              <div class="accordion">
                <ul class="list-unstyled">                      
                  {%- for block in section.blocks -%}
                    {%- if block.settings.title != blank and block.settings.infos != blank -%}
                      <li{% if forloop.first %} class="open"{% endif %}>
                        {%- if block.settings.title != blank -%}
                          <div class="question">
                            {%- if block.settings.title != blank -%}
                              <h2>{{ block.settings.title }}</h2>
                            {%- endif -%}
                            <span class="glyphicon glyphicon-chevron-down">
                              <img src="{{ 'ep_arrow-up.svg' | asset_url }}" alt="Icons" />
                            </span>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.infos != blank or block.settings.main_video_url != blank or block.settings.main_desktop_image != blank or block.settings.main_mobile_image != blank -%}
                          <div class="answer"{% if forloop.first %} style="display:block;"{% endif %}>
                            {%- if block.settings.infos != blank -%}
                              <div class="Page_reasons_charge_lists_innermobloop_infos_new">
                                {{ block.settings.infos }}
                              </div>
                            {%- endif -%}
                            {%- if block.settings.main_video_url != blank or block.settings.main_desktop_image != blank or block.settings.main_mobile_image != blank -%}
                              <div class="Page_reasons_charge_lists_innermobloop_mainvideoimage_new">
                                <div class="Page_reasons_charge_lists_innermobloop_innervideoimage_new">
                                  {%- if block.settings.main_video_url != blank -%}
                                    <div class="Page_reasons_charge_lists_innermobloop_videoimage_new">
                                      {{ block.settings.main_video_url | video_tag: controls: false, autoplay: true, loop: true }}
                                    </div>
                                  {% else %}  
                                    {%- if block.settings.main_desktop_image != blank and block.settings.main_mobile_image != blank -%}
                                      <div class="Page_reasons_charge_lists_innermobloop_videoimage_new">
                                        {%- if block.settings.main_mobile_image != blank -%}
                                          <img src="{{ block.settings.main_mobile_image | img_url:'master' }}" alt="{{ block.settings.main_mobile_image.alt }}" class="mobile_image_new" />
                                        {%- endif -%}
                                      </div>
                                    {%- endif -%}
                                  {%- endif -%}
                                </div>
                              </div>
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}  

{% schema %}
  {
    "name": "Page Reasons Charge Lists",
    "class": "Page_reasons_charge_lists_new",
    "settings": [
      {
        "type": "color",
        "id": "main_back_color",
        "label": "Add Main Background Color",
        "default": "#141414"
      },
      {
        "type": "image_picker",
        "id": "main_logo_image",
        "label": "Add Main Logo Image"
      },
      {
        "type": "textarea",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "Three reasons why 253,000+ charge with Clutch"
      }
    ],
    "blocks": [
      {
        "type": "information",
        "name": "Information",
        "settings": [
          {
            "type": "video",
            "id": "main_video_url",
            "label": "Add Main MP4 Video"
          },
          {
            "type": "image_picker",
            "id": "main_desktop_image",
            "label": "Add Main Desktop Image"
          },
          {
            "type": "image_picker",
            "id": "main_mobile_image",
            "label": "Add Main Mobile Image"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Add Main Heading Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          },
          {
            "type": "richtext",
            "id": "infos",
            "label": "Add Main Information Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Page Reasons Charge Lists",
        "blocks": [
          {
            "type": "information"
          },
          {
            "type": "information"
          },
          {
            "type": "information"
          }
        ]
      }
    ]
  }
{% endschema %}