{%- if section.settings.main_logo_image != blank or section.settings.main_heading_text != blank or section.settings.main_infos_text != blank or section.settings.main_button_link != blank or section.settings.main_video_url != blank or section.settings.main_desktop_image != blank or section.settings.main_mobile_image != blank -%}
  <div class="Page_time_text_with_image_main_new" style="background: {{ section.settings.main_back_color }};">
    <div class="page-width">
      <div class="Page_time_text_with_image_inner_new">
        <div class="Page_time_text_with_image_leftrightboth_new">
          {%- if section.settings.main_logo_image != blank or section.settings.main_timer_heading_text != blank or section.settings.main_timer_end_date != blank or section.settings.main_heading_text != blank or section.settings.main_infos_text != blank or section.settings.main_button_link != blank -%}
            <div class="Page_time_text_with_image_mainleft_new">
              <div class="Page_time_text_with_image_innerleft_new">
                {%- if section.settings.main_logo_image != blank -%}
                  <div class="Page_videos_images_slider_mainimage_new">
                    <div class="Page_videos_images_slider_innerimage_new">
                      {%- assign img_url = section.settings.main_logo_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      <img class="Icon_image_new lazyload"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ section.settings.main_logo_image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ section.settings.main_logo_image.alt }}">
                    </div>
                  </div>
                {%- endif -%}
                {%- if section.settings.main_timer_heading_text != blank or section.settings.main_timer_end_date != blank -%}
                  <div class="Page_time_text_with_image_innerleft_timer_new Page_timer_new">
                    {% include 'Countdown-timer-2-new', timer_end_date: section.settings.main_timer_end_date, title: section.settings.main_timer_heading_text %}
                  </div>
                {%- endif -%}
                {%- if section.settings.main_heading_text != blank -%}
                  <div class="Page_time_text_with_image_innerleft_infotext_new">
                    <h4>{{ section.settings.main_heading_text }}</h4>
                  </div>
                {%- endif -%}
                {%- if section.settings.main_infos_text != blank -%}
                  <div class="Page_time_text_with_image_innerleft_icontext_new">
                    {{ section.settings.main_infos_text }}
                  </div>
                {%- endif -%}
                {%- if section.settings.main_button_text != blank and section.settings.main_button_link != blank -%}
                  <div class="Page_time_text_with_image_innerleft_button_new">
                    <a href="{{ section.settings.main_button_link }}" class="btn btn_new">
                      {{ section.settings.main_button_text }}
                    </a>
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
          {%- if section.settings.main_video_url != blank or section.settings.main_desktop_image != blank or section.settings.main_mobile_image != blank -%}
            <div class="Page_time_text_with_image_mainright_new">
              <div class="Page_time_text_with_image_innerright_new">
                <div class="Page_time_text_with_image_innerright_videoimageboth_new">
                  {%- if section.settings.main_video_url != blank -%}
                    <div class="Page_time_text_with_image_innerright_videoimage_new">
                      {{ section.settings.main_video_url | video_tag: controls: false, autoplay: true, loop: true }}
                    </div>
                  {% else %}  
                    {%- if section.settings.main_desktop_image != blank and section.settings.main_mobile_image != blank -%}
                      <div class="Page_time_text_with_image_innerright_videoimage_new">
                        {%- if section.settings.main_desktop_image != blank -%}
                          {%- assign img_url = section.settings.main_desktop_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                          <img class="desktop_image_new lazyload"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                            data-aspectratio="{{ section.settings.main_desktop_image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ section.settings.main_desktop_image.alt }}">
                        {%- endif -%}
                        {%- if section.settings.main_mobile_image != blank -%}
                          {%- assign img_url = section.settings.main_mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                          <img class="mobile_image_new lazyload"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                            data-aspectratio="{{ section.settings.main_mobile_image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ section.settings.main_mobile_image.alt }}">
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Page Time Text With Image",
    "class": "Page_time_text_with_image_new",
    "settings": [
      {
        "type": "color",
        "id": "main_back_color",
        "label": "Add Main Background Color",
        "default": "#141414"
      },
      {
        "type": "image_picker",
        "id": "main_logo_image",
        "label": "Add Main Logo Image"
      },
      {
        "type": "text",
        "id": "main_timer_heading_text",
        "label": "Add Main Timer Heading Text",
        "info": "EX: BFCM Sale Ends In:"
      },
      {
        "type": "text",
        "id": "main_timer_end_date",
        "label": "Add Main Timer End Date Text",
        "info": "EX: Sep 15, 2023 22:00:00"
      },
      {
        "type": "textarea",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "30% OFF SITE WIDE"
      },
      {
        "type": "textarea",
        "id": "main_infos_text",
        "label": "Add Main Information Text",
        "default": "FREE US SHIPPING"
      },
      {
        "type": "text",
        "id": "main_button_text",
        "label": "Add Main Button Text",
        "default": "Shop Now"
      },
      {
        "type": "text",
        "id": "main_button_link",
        "label": "Add Main Button Link",
        "default": "#shop"
      },
      {
        "type": "video",
        "id": "main_video_url",
        "label": "Add Main MP4 Video"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_image",
        "label": "Add Main Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_image",
        "label": "Add Main Mobile Image"
      }
    ],
    "presets": [
      {
        "name": "Page Time Text With Image"
      }
    ]
  }
{% endschema %}