{{ 'component.social-prof-video.min.css' | asset_url | stylesheet_tag: preload: true }}

{%- liquid
    assign title = section.settings.title
    assign description = section.settings.description
-%}

<div class="social-proof-video__container">
    <div class="social-proof-video__header">
        <h2 class="social-proof-video__title">{{ title }}</h2>
        <div class="social-proof-video__description">
            {{ description }}
        </div>
    </div>
    <div class="social-proof-video__body">
        <div class="social-proof-video__slider-social swiper">
            <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                    <div class="swiper-slide">
                        <div class="cover play-icon" data-video-id="video-{{ forloop.index }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                                <path d="M52.5 28.0001C52.5014 28.5943 52.3491 29.1787 52.0578 29.6966C51.7664 30.2145 51.3461 30.6481 50.8375 30.9554L19.32 50.236C18.7886 50.5614 18.18 50.7391 17.557 50.7506C16.9341 50.7621 16.3193 50.6072 15.7763 50.3017C15.2384 50.0009 14.7903 49.5624 14.4781 49.031C14.1659 48.4997 14.0009 47.8948 14 47.2786V8.72168C14.0009 8.10543 14.1659 7.50054 14.4781 6.96921C14.7903 6.43788 15.2384 5.9993 15.7763 5.69855C16.3193 5.39307 16.9341 5.23809 17.557 5.24962C18.18 5.26116 18.7886 5.43879 19.32 5.76418L50.8375 25.0448C51.3461 25.3521 51.7664 25.7857 52.0578 26.3036C52.3491 26.8215 52.5014 27.4059 52.5 28.0001Z" fill="white" fill-opacity="0.7"/>
                            </svg>
                        </div>
                        <video id="video-{{ forloop.index }}" poster="{{ block.settings.poster | image_url: width: 240 }}">
                            <source src="{{ block.settings.url }}" type="video/mp4">
                        </video>
                    </div>
                {%- endfor -%}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="34" viewBox="0 0 18 34" fill="none">
                <path d="M1.5 1L16.0858 15.5858C16.8668 16.3668 16.8668 17.6332 16.0858 18.4142L1.5 33" stroke="white" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="34" viewBox="0 0 18 34" fill="none">
                <path d="M16.5 1L1.91421 15.5858C1.13316 16.3668 1.13316 17.6332 1.91421 18.4142L16.5 33" stroke="white" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </div>
    </div>
</div>

<script>

    const videosIconPLay = document.querySelectorAll('#shopify-section-{{ section.id }} .swiper-slide .play-icon'),
          videos = document.querySelectorAll('#shopify-section-{{ section.id }} .swiper-slide video');

    videosIconPLay.forEach(element => {
        element.addEventListener('click', (e) => {
            let videoID = e.target.getAttribute('data-video-id');
                e.target.classList.add('active');
            document.querySelector(`video#${videoID}`).play()
        })
    });

    videos.forEach(element => {
        element.addEventListener('click', (e) => {
            let videoID = e.target;
                iconPlay = videoID.previousElementSibling;

            if(videoID.paused) {
                videoID.play();
            }else {
                videoID.pause();
                iconPlay.classList.remove('active')
            }
        })
    });

    var swiper = new Swiper("#shopify-section-{{ section.id }} .social-proof-video__slider-social", {
        slidesPerView: 1,
        slidesPerGroup: 1,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true
        },
        navigation: {
            nextEl: "#shopify-section-{{ section.id }} .swiper-button-next",
            prevEl: "#shopify-section-{{ section.id }} .swiper-button-prev",
        },
        breakpoints: {
            768: {
                slidesPerView: 4,
                slidesPerGroup: 2,
                loop: true,
                spaceBetween: 48,
            }
        }
    });



</script>

{% schema %}
    {
        "name": "Social proof video",
        "class": "social-proof-video",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title section"
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Social image",
                "settings": [
                    {
                        "type": "text",
                        "id": "url",
                        "label": "URL Video"
                    },
                    {
                        "type": "image_picker",
                        "id": "poster",
                        "label": "Poster video"
                    }
                ]
            }
        ],
        "presets": [
            {
            "name": "Social proof video"
            }
        ]
    }
{% endschema %}