{{ 'component-value-props.min.css' | asset_url | stylesheet_tag: preload: true }}

{%- liquid
  assign overlap_images = true
  if section.settings.image != blank and section.settings.image2 == blank
    assign overlap_images = false
  endif
-%}

<div class="index-section{% if section.settings.alt %} index-section--alt{% endif %}">

  <div class="page-width feature-row-wrapper">
    {%- capture image_layout -%}
      <div
        class="feature-row__item{% if overlap_images %} feature-row__item--overlap-images{% endif %}"
        style="max-width: {{ section.settings.image_width }}px"
        data-aos>
        {%- if section.settings.image != blank -%}
          <div>
            {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
              <a href="{{ section.settings.button_link }}">
              {%- endif -%}
              <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
                {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img
                  class="feature-row__image lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 750, 900, 1080]"
                  data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ section.settings.image.alt }}">
              </div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
              </a>
            {%- endif -%}
          </div>
        {%- endif -%}
        {%- if section.settings.image2 != blank -%}
          <div>
            {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
              <a href="{{ section.settings.button_link }}">
              {%- endif -%}
              <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image2.aspect_ratio }}%;">
                {%- assign img_url = section.settings.image2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img
                  class="feature-row__image lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 750, 900, 1080]"
                  data-aspectratio="{{ section.settings.image2.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ section.settings.image2.alt }}">
              </div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
              </a>
            {%- endif -%}
          </div>
        {%- endif -%}
        {%- if section.settings.image == blank and section.settings.image2 == blank -%}
          <div>
            <div class="image-wrap">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
          <div>
            <div class="image-wrap">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
        {%- endif -%}
      </div>
    {%- endcapture -%}

    <div class="feature-row">
      {%- if section.settings.layout == 'left' -%}
        {{ image_layout }}
      {%- endif -%}

      <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}" data-aos>
        {%- if section.settings.subtitle != blank -%}
          <div class="subheading appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.subtitle }}</div>
        {%- endif -%}
        {%- if section.settings.title != blank -%}
          <div class="h1 appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.title | escape }}</div>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
        {%- endif -%}
        {%- if section.blocks.size > 0 -%}
          <div class="rte props-wrapper appear-delay{% cycle '','-1','-2','-3','-4' %}">
            {%- for block in section.blocks -%}
              <div class="props">
                <div class="icon-prop">{{ block.settings.svg_icon }}</div>
                <h3 class="label">{{ block.settings.label }}</h3>
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
        {%- if section.settings.button_label != blank -%}
          <div class="appear-delay{% cycle '','-1','-2','-3','-4' %}">
            <a href="{{ section.settings.button_link }}" class="btn{% if section.settings.button_style == 'secondary' %} btn--tertiary{% endif %}">
              {{ section.settings.button_label }}
            </a>
          </div>
        {%- endif -%}
      </div>

      {%- if section.settings.layout == 'right' -%}
        {{ image_layout }}
      {%- endif -%}
    </div>

    {% unless section.settings.show_cta == "none" %}
      {% if section.settings.cta_label != blank and section.settings.cta_url != blank %}
        <div class="cta cta--center {{ "cta--" | append: section.settings.show_cta }}">
          <a class="cta__btn btn btn--tertiary" href="{{ section.settings.cta_url }}">
            {{ section.settings.cta_label }}
          </a>
        </div>
      {% endif %}
    {% endunless %}

  </div>

</div>

{% schema %}
  {
    "name": "Value props",
    "class": "value-props-wrapper",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "range",
        "id": "image_width",
        "label": "Image width",
        "default": 700,
        "min": 200,
        "max": 700,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading"
      }, {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      }, {
        "type": "textarea",
        "id": "text",
        "label": "HTML",
        "default": "<h2>Custom content</h2><p>Use this advanced section to build your own layouts or to add custom HTML or scripts.</p>"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }, {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "primary",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          }, {
            "value": "secondary",
            "label": "Secondary"
          }
        ]
      }, {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Centered"
          }, {
            "value": "right",
            "label": "Right"
          }
        ]
      }, {
        "type": "select",
        "id": "show_cta",
        "label": "Show CTA",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          }, {
            "value": "mobile",
            "label": "Mobile"
          }, {
            "value": "desktop",
            "label": "Desktop"
          },
          {
            "value": "both",
            "label": "Both"
          }
        ]
      }, {
        "id": "cta_label",
        "type": "text",
        "label": "CTA Label",
        "default": "Shop Now"
      },
      {
        "id": "cta_url",
        "type": "url",
        "label": "CTA Url"
      }, {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          }, {
            "value": "right",
            "label": "Image on right"
          }
        ]
      }, {
        "type": "checkbox",
        "id": "alt",
        "label": "Use alternate section color"
      }
    ],
    "blocks": [
      {
        "type": "props",
        "name": "Prop",
        "settings": [
          {
            "type": "html",
            "id": "svg_icon",
            "label": "SVG Icon"
          }, {
            "type": "text",
            "id": "label",
            "label": "Label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Value Props"
      }
    ]
  }
{% endschema %}